:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #cffbff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #101829c4;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.home-content {
  position: relative; /* чтобы .mesh-bg позиционировалась внутри */
  border-bottom: 1px solid #186185af;
  height: 100%;
  width: 100%;
  background: url("../assets/background_layout.png") no-repeat center center fixed;
  background-size: cover;
}
.header {
  position: fixed;
  inset: 0;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121829; /* #132820 */
  border-bottom: 1px solid #0c5e5ab2;
  z-index: 3000;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  position: absolute;
  width: 100%;
  top: 25%;
  z-index: 2000;
}
.content > h1 > span {
  color: #47ab8b;
}
#view {
  margin-top: 75px; /* чтобы контент не прятался за фиксированным хедером */
  height: calc(100vh - 70px);
}
.content > div {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.primary-btn,
.secondary-btn {
  font-size: 18px;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.primary-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  font-weight: 600;
  background: linear-gradient(90deg, #16a49d, #38a582);
  color: #121829;
  font-size: small;


  img{
    transform: translateX(0);
    transition: transform 0.1s ease-in-out;
  }
}
.secondary-btn {
  font-weight: 600;
  background: none;
  border: 2px solid #38a582;
  color: #cffbff;
  font-size: small;
  transition: all 0.3s ease-in-out;
}
.primary-btn:hover {
  background: linear-gradient(90deg, #11c9c0, #36ca9b);
  color: #121829;
  img{
    transform: translateX(5px);
  }
}
.secondary-btn:hover {
  background-color: #0c5e5a6c;
  color: #d2fae5;
  transition: all 0.3s ease-in-out;
}
.content > p {
  font-size: 26px;
  margin-bottom: 20px;
  color: #a1cbb5;
  font-weight: 400;
}
.header .row {
  width: 95%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-group,
.header .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-text {
  padding-top: 8px;
  font-size: 20px;
  color: #97d6c2;
  font-weight: 600;
}
#footer-placeholder {
  background-color: #121829;
  padding: 40px 0; /* add some spacing */
  z-index: 1000;
}
.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  gap: 20px;
}
.footer-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 200px; /* allow items to shrink/grow */
}
.footer-container > div > img {
  width: 55px;
  border: #0c5e5a 1px solid;
  background-color: #173a3d;
  border-radius: 100%;
  align-self: center;
  padding: 10px;
  opacity: 85%;
}
.footer-container > div > div > p {
  font-size: 14px;
  color: #47ab8b;
}
.footer-container > div > div > h3 {
  font-size: 18px;
  color: #d2fae5;
}
div > p,
div > h3 {
  text-align: center;
  margin: 5px 0;
}

.logo-group {
  position: relative;
  > img:nth-child(1) {
    position: relative;
    top: 4px;
  }
  > img:nth-child(2) {
    position: absolute;
    left: 20px;
    top: 12px;
  }
}

.filter-razor {
  position: absolute;
  height: 100%;

  background: radial-gradient(
    120% 80% at 50% 0%,
    rgba(0, 30, 40, 0.65) 0%,
    rgba(0, 45, 60, 0.55) 35%,
    rgba(10, 50, 35, 0.55) 60%,
    rgba(5, 15, 10, 0.75) 100%
  );
}
.mesh-bg {
  position: absolute;
  inset: 0; /* top/right/bottom/left: 0 */
  z-index: 1;
  pointer-events: none; /* не блокирует клики по контенту */
  background: url("./assets/mesh.svg") right center;
  animation: mesh-scroll 60s linear infinite;
  opacity: 0.4;
}

.home-content > *:not(.mesh-bg) {
  position: relative;
  z-index: 2;
}

@keyframes mesh-scroll {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 100% 100%;
  }
}

@media screen and (max-width: 855px) {
  .content {
    background-color: black;
  }
}