:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #cffbff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  background-color: #101829c4;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.home-content {
  min-height: 100%;       
  border: 1px solid #186185af;
  width: 100%;
  background: url("../assets/background_layout.png") no-repeat center center fixed;
  background-size: cover;     
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #121829;
  z-index: 1000;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header .row {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo-group,
.header .btn-group {
  display: flex;
  align-items: center;
  gap: 10px;
}

#view {
  flex: 1;
}

#footer-placeholder {
  display: flex;
  background-color: #101829;
  height: 150px;
  >p {
    margin-left: 20px;
  }
}

.logo-group {
  position: relative;
  > img:nth-child(1) {
    position: relative;
    top: 4px;
  }
  > img:nth-child(2) {
    position: absolute;
    left: 20px;
    top: 7px;
  }
}